@model EntityAssignment.Models.Account

<div class="container mt-4">
    <div class="card shadow p-4">
        <h2 class="text-info">Account Details</h2>

        <p><strong>Type:</strong> @Model.AccountType</p>
        <p><strong>Customer:</strong> @Model.Customer</p>
        <p><strong>Balance:</strong> ₹ @Model.Balance</p>
        <p><strong>Branch:</strong> @Model.Branch</p>
        <p><strong>Date:</strong> @Model.CreateDate.ToShortDateString()</p>

        <a href="/Account" class="btn btn-secondary">Back</a>
    </div>
</div>