@model IEnumerable<EntityAssignment.Models.Account>

<div class="container mt-4">
    <h2 class="text-primary">Account List</h2>

    <a href="/Account/Create" class="btn btn-success mb-3">+ Create New</a>

    <table class="table table-bordered table-striped table-hover shadow">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Customer</th>
                <th>Balance</th>
                <th>Branch</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AccountID</td>
                <td>@item.AccountType</td>
                <td>@item.Customer</td>
                <td>₹ @item.Balance</td>
                <td>@item.Branch</td>
                <td>@item.CreateDate.ToShortDateString()</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Account/Edit/@item.AccountID">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Account/Delete/@item.AccountID">Delete</a>
                    <a class="btn btn-info btn-sm" href="/Account/Details/@item.AccountID">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>